@model UserModel

@{
    ViewData["Title"] = "Edit Employee";
}

<h3>@ViewData["Title"]</h3>
<p>
    <a href="/user/index">Back to List</a>
</p>
<hr />

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">
        @TempData["Error"]
    </div>
}

<form asp-action="Edit" asp-controller="User" method="post">
    <input type="hidden" asp-for="EmployeeId" />

    <div class="form-group">
        <label asp-for="FullName">Full Name</label>
        <input asp-for="FullName" class="form-control" />
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="AddressLine">Address Line</label>
        <input asp-for="AddressLine" class="form-control" />
        <span asp-validation-for="AddressLine" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control" />
        <span asp-validation-for="City" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>
